name: Test and Deploy Lambda function

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      FIRST_NAME: Guillermo
      FIRST_NAME_LOWER: ${{ toJSON(env.FIRSTNAME) | tolower }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm ci

      - name: Run test(s)
        run: npm test

      - name: Set up AWS SAM CLI
        uses: aws-actions/setup-sam@v2
        with:
          version: 1.110.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Build SAM app
        run: sam build

      - name: Deploy SAM app
        run: |
          sam deploy \
            --stack-name resume-experience-${{ env.FIRST_NAME_LOWER }} \
            --capabilities CAPABILITY_IAM \
            --no-confirm-changeset \
            --no-fail-on-empty-changeset \
            --region us-east-1 \
            --resolve-s3
